text {
  font-family: Fabrikat-Black;
  font-size: 14;
  fill: #000000;
  text-length: 30;
  y: 15%;
  x: 5%;
}

.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}
